<!DOCTYPE html>
<html>
<head>
    <title>Xabier Gabiña Barañano</title>
    <meta charset="utf-8">
    <meta name="description" content="Pagina web personal de Xabier Gabiña Barañano">
    <meta name="keywords" content="Xabier, Gabiña, Barañano, Xabier Gabiña, Xabier Gabiña Barañano, Xabierland, UPV, UPV/EHU">
    <meta name="author" content="Xabier Gabiña Barañano">
    <html lang="es">
    <!--Metadatos Open Graph-->
    <meta property="og:title" content="Xabier Gabiña Barañano">
    <meta property="og:description" content="Pagina web personal de Xabier Gabiña Barañano">
    <meta property="og:image" content="URL de la imagen para Facebook">
    <!--Metadatos Twitter-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Xabier Gabiña Barañano">
    <meta name="twitter:description" content="Pagina web personal de Xabier Gabiña Barañano">
    <meta name="twitter:image" content="URL de la imagen para Twitter">   
</head>
<body>
    <header>
        <h1>Xabier Gabiña Barañano</h1>
        <nav>
            <ul class="menu">
                <li><a href="/">Inicio</a></li>
                <li><a href="/acerca.md">Acerca</a></li>
                <li><a href="/contacto.md">Contacto</a></li>
                <li><a href="/blog.html">Blog</a></li>
            </ul>
        </nav>
    </header>
    <main>
